.pp_post_shareButton .items-center > :is(span):not(.flex) {
    visibility: hidden !important;
    max-width: 0px;
}

.pp_post_shareButton > span > span {
    margin-inline-end: 0px !important;
}

.pp_post_shareButton > button > span > span {
    margin-inline-end: 0px !important;
}

.pp_post_shareButton .text-16 {
    margin-right: 0px !important;
}
