.pp_scrollToTop {
    position: fixed;
    width: 100px;
    height: 100%;
    bottom: 0px;
    //left:350px;
    background: linear-gradient(0deg, var(--scrollLineColor) 0%, var(--scrollLineTransparentColor) 20%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    cursor: pointer;
    color: var(--scrollLineTransparentColor);

    transition: all 0.2s ease-in;
}

.pp_scrollToTop_inverted {
    transform: scale(1, -1);
}

.pp_scrollToTop_hidden {
    visibility: hidden;
}

.pp_scrollToTop_hidden::before {
    visibility: hidden;
}

.pp_scrollToTop:hover {
    padding-bottom: 50px !important;
    color: var(--scrollButtonColor);

    transition: all 0.2s ease-out;
}

.pp_scrollToTop::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(0deg, var(--scrollLineColor) 5%, var(--scrollLineTransparentColor) 50%);
    transition: opacity 0.2s ease-in;
}

.pp_scrollToTop:hover::before {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

:root.theme-light {
    --scrollLineColor: #e5ebee6e !important;
    --scrollLineTransparentColor: #e5ebee00 !important;
    --scrollButtonColor: #c9d1d4c2 !important;
}
:root {
    --scrollLineColor: #2a323633;
    --scrollLineTransparentColor: #2a323600;
    --scrollButtonColor: #0e1113;
}
