
.pp_feedPanel {
    width: 100%;
}

.pp_feedPanel > div {
    justify-content: flex-end;
}

.pp_feedPanel_buttons {
    display: flex;
    gap: 4px;
    width: 100%;
    height: 40px;
}

.pp_feedPanel_settings_container {
    display: flex;
    align-items: center;
}

.pp_feedPanel_settings {
    color: var(--color-neutral-content-weak);
    border-radius: 18px;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0px 8px;
    position: relative;
    cursor: pointer;
}

.pp_feedPanel_settings:hover {
    background-color: var(--button-color-background-hover);
}

.pp_feedPanel_settings:active {
    background-color: var(--button-color-background-activated);
}
